.page-header-right{
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.page-header-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    color: #fff;
    height: 40px;
}