<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="新阅是针对影音制作而研发的高效审核协作平台，通过沟通连接所有的视频编辑，发布和沟通工具，无需各种繁杂软件的切换，极大优化您团队的视频合作流程，整体提高制作效率。">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="dns-prefetch" href="//www.uxinyue.com">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">    
  <title>新阅</title>
  <!-- <link rel="stylesheet" href="./index.scss" /> -->
</head>
<body>
<div id="root"></div>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
</body>
</html>
