
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 512px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 512px 512px;
}

.list {
  font-size: 1.2em;
  margin: 1.8em 0 0;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color:rgba(17,22,34,1);
}

.loading-body{
  width: 100px;
  height: 100px;
  background: url('../assets/bars.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}

button{
  outline: none;
}
